h1 {
    color: rgb(14, 105, 16); /* цвет текста */
    text-align: center; /* отцентрировать текст */
    font-size: 40px; /* размер шрифта, а по умолчанию он 32px */
}
h4 {
    font-size: 28px;
    color: seagreen;
}
img {
    display: block; /* из картинки в блок */
    margin: auto; /* центрирование блока */
    width: 400px;
    /* text-align: center; не работает для картинки */
}
p {
    font-size: 20px; /* по умолчанию 16px у тега p */
    text-align: center; 
}
/*
    Изначально картинка имеет размеры 1000x500
    при указании размера 500px для ширины, высота масштабируется автоматически отн-но ширины
    500x250

    Задача. Поменять размер и цвет заголовков постов(статей).
                28px - новый шрифт, цвет выбирайте сами

    Селектор - select - выборка(выбирать)
    Селектор по тегу - выбрали тег - h1

    Свойство - параметр, который мы хотим поменять
    color - свойство цвета текста

    Значение свойства - конкретное значение, на которое мы хотим изменить свойство

    селектор {
        свойство : значение
    }

    selector {
        property: value
    }

    Форматы цветов
    #HEX
    rgb()
    red

    rgb() Можно создать большой набор цветов с помощью трех основных - RedGreenBlue

    rbg(0 - 255, 0 - 255, 0 - 255) - 256^3
    shift + Х(рус раскладка) -  {}


    ДЗ. 1. Добавить еще два поста (article) 
    2.Изменить цвет фона каждого поста (article)

*/