/*
    Адаптивный сайт. Адаптируется под размеры экрана девайса.
    Медиа-запрос. 
*/
@media (max-width: 768px) {
    h1 {
        color: red;
        font-size: 36px;
    }
}
@media (max-width: 480px) {
    /* стили будут применять только для экранов меньше 480px */
    .item {
        width: 100%;
    }
    h1 {
        color: green;
    }
}
/*
    На экране меньше 768px для h1 применить стиль color:red.
    А на экране мееньше 480px для h1 применяем свойство color: green;

    1. Экран больше 768px - h1 черный 
    2. Экран больше 480px, но меньше 768px - h1 красный
    3. Экран меньше 480px, то h1 зеленый
*/

/*  Задание: 
    На экране меньше 480px сделать так, чтобы в строке было не по две картинки, 
    а одна на каждой строке
*/