main {
    background-color: seagreen;
    padding: 100px;
}
/* 
    visibility: hidden; - невидимый
    visibility: visible; - видимый
    :hover - 
  Вернуть синий цвет при наведении на блок
*/
/*
    ./ - в той же папке, что и мы
    ../ - на уровень выше(назад)
    Соотношение сторон
    4:3
    16:9
    1:1
    1:2
*/