* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* размеры ширины и высоты включают в себя padding */
}
body {
    font-family: 'Roboto', sans-serif;
}
/* обертка */
.wrapper {
    width: 60%;
    margin: auto;
}
/* мои навыки */
.skills {
    padding: 100px 0;
}
.skills-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-info {
    width: 40%;
}
.skills-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.skill-scale:not(:last-child) {
    margin-bottom: 30px;
}
.skill-name {
    color: #727272;
    margin-bottom: 20px;
}
.skill-scale-outer {
    height: 4px;
    background-color: #C4C4C4;
}
.skill-scale-inner {
    width: 70%;
    height: 100%;
    background-color: #34547A;
}
.skills-img {
    display: block; /* картинка - не блочный элемент */
    width: 50%;
}
/* Как я работаю */
.process {
    padding: 100px 0;
    background-color: #EEEFF1;
}
.process-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.process-descr {
    width: 50%;
    margin: 50px auto 60px; /* top right-left bottom */
    color: #727272;
    text-align: center;
}
.process-video {
    width: 100%;
    aspect-ratio: 16/9;
}
/* 
    Задача. Посмотреть какие шрифты и их жирность используются на макете, подключить их

    500x100
    1000x200
border: 1px solid black.
border: толщина стиль цвет;
*/